.stat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5vw auto;
  padding: 3vw;
  max-width: 40vw;

  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 2vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.stat-form input {
  width: 100%;
  margin-bottom: 1.5vw;
  padding: 1vw;
  font-size: 1vw;
  border-radius: 1vw;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}

.stat-form input:focus {
  border-color: #555;
  outline: none;
}

.stat-form button {
  padding: 1vw 2vw;
  font-size: 1vw;
  border: none;
  border-radius: 1vw;
  background-color: #c62828;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stat-form button:hover {
  background-color: #a51d1d;
}

/* responsive styles */
@media (max-width: 768px) {
  .stat-form {
    max-width: 85vw;
    padding: 5vw;
    border-radius: 4vw;
  }

  .stat-form input {
    font-size: 4vw;
    padding: 3vw;
    margin-bottom: 3vw;
    border-radius: 3vw;
  }

  .stat-form button {
    font-size: 4vw;
    padding: 3vw 6vw;
    border-radius: 3vw;
  }
}


button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.spinner {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.3vw solid #fff;
  border-top: 0.3vw solid #c62828;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
